<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
	<title>Insert title here</title>
	<link href="../static/a.css"/>
</head>
<body>
 	<h1 th:inlines="text">Hello</h1>
    <p th:text="${hello}"></p>
	<a id="aId">tell</a>
	<input type="text" name="phone" th:value="*{name}" />
	<input type="text" name="phone" th:value="*{tell}" />
	
	<table>
		<tr th:each="list :${companyList}">
			<td th:text="${list.id}"></td>
			<td th:text="${list.name}"></td>
			<td th:text="${list.introduce}"></td>
		</tr>
	</table>
</body>
<script type="text/javascript" src="../static/js/n.js"></script>
</html>