<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--登录 -->
<mapper namespace="com.lzy.parttime.dao.LoginDao">
	<!-- 登录验证 -->
	<select id="getLoginUser" parameterType="Map" resultType="user">
		SELECT
			u.id,
			u.pwd,
			u.userNm,
			u.sex,
			u.phone,
			u.userAccount,
			u.addTime
		FROM
			USER u
		WHERE
			u.userAccount = #{userAccount} and u.delFlag=0 
		LIMIT 1
	</select>
	
</mapper>